.list-section:not(:first-of-type) {
    margin-top: 40px;
}

.list-section__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 4px solid black;
    padding: 20px 40px 14px;
    position: relative;
}

.list-section__title::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 25px;
    background-color: #ffff00;
    width: 60px;
    height: 45px;
    z-index: -1;
}
